:host {
  position: absolute;
  transform-origin: left;

  img {
    transform-origin: left;
    animation-name: grow-animation;
    animation-duration: 2s;
    animation-timing-function: ease-out;
  }
}
