:host {
  position: absolute;
  left: calc(50% - 10px);
  display: flex;
  bottom: 230px;
/*   img {
    position: absolute;
    transform-origin: left;
    animation-name: grow-animation;
    animation-duration: 4s;
    animation-timing-function: ease-out;
  } */
}
